body {
    background-color: rgb(49, 49, 49);
}

button {
    background-color: rgb(49, 49, 49);
    color: teal;
    border: 2px solid teal;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 10px;
}

button:hover {
    background-color: teal;
    color: white;
}

.container {
    margin-left: 10px;
    color: white;

    h2 {
        display: inline-block;
    }

    div {
        border: 3px solid white;
        padding: 10px;
        margin: 30px;
        color: white;
        background-color: teal;
        border-radius: 5px;

        p {
            display: inline-block;
            margin-right: 5px;
            color: black;
        }

        button {
            margin-left: 5px;
            background-color: teal;
            color: white;
            border: 2px solid white;
        }

        button:hover {
            background-color: white;
            color: teal;
        }
    }

}