body {
  background-color: #313131;
}

button {
  background-color: #313131;
  color: teal;
  border: 2px solid teal;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
}

button:hover {
  background-color: teal;
  color: white;
}

.container {
  margin-left: 10px;
  color: white;
}

.container h2 {
  display: inline-block;
}

.container div {
  border: 3px solid white;
  padding: 10px;
  margin: 30px;
  color: white;
  background-color: teal;
  border-radius: 5px;
}

.container div p {
  display: inline-block;
  margin-right: 5px;
  color: black;
}

.container div button {
  margin-left: 5px;
  background-color: teal;
  color: white;
  border: 2px solid white;
}

.container div button:hover {
  background-color: white;
  color: teal;
}
/*# sourceMappingURL=style.css.map */